:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);
  --rose-50: hsl(330, 100%, 98%);
  --rose-800: hsl(332, 51%, 32%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

.font-young {
  font-family: "Young Serif", serif;
}

.font-outfit {
  font-family: "Outfit", serif;
}

.heading_2 {
  font-size: 1.8rem;
  color: var(--brown-800);
  font-weight: 500;
  font-family: "Young Serif", serif;
  margin-top: 20px;
}

ul li::marker {
  color: var(--brown-800);
  font-family: "Outfit", serif;
  font-weight: 600;
}

body {
  font-family: "Outfit", serif;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: var(--stone-100);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 700px;
  padding: 30px;
  margin: 50px 0;
  border-radius: 10px;
  background: var(--white);
  box-shadow: 0 0 10px var(--stone-100);
}

.card__image {
  width: 100%;
  border-radius: 10px;
}

.card__title {
  margin-top: 15px;
  font-size: 2rem;
  color: var(--stone-900);
  font-weight: 500;
}

.paragraph_1 {
  margin-top: 15px;
  color: var(--stone-600);
}

.preparation {
  margin: 30px 0;
  padding: 20px;
  border-radius: 10px;
  background: var(--rose-50);
}
.preparation__text_header {
  font-size: 1.25rem;
  color: var(--rose-800);
  margin-bottom: 10px;
  font-weight: 600;
}

.preparation ul,
.ingredients ul,
.instructions ul {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

.preparation ul li,
.ingredients ul li,
.instructions ul li {
  color: var(--stone-600);
  padding-left: 10px;
}

.preparation ul li span,
.instructions ul li span {
  font-weight: 600;
}

.ingredients,
.instructions {
  border-bottom: 1px solid var(--stone-100);
  padding-bottom: 30px;
}

.instructions ul {
  list-style-type: decimal;
}

.nutrition__table {
  width: 100%;
  margin-top: 15px;
}

.nutrition__table tr {
  position: relative;
  padding: 60px 0;
}

.nutrition__table tr td {
  padding: 10px;
  color: var(--stone-600);
  font-size: 1rem;
  border: none;
}
.nutrition__table tr::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--stone-150);
  bottom: 0;
  left: 0;
}

.nutrition__table tr:last-child::after {
  display: none;
}

.nutrition__table tr td:last-child {
  font-weight: 600;
  color: var(--brown-800);
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 20px;
  }

  .card {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 20px 0;
  }

  .card__title {
    font-size: 1.5rem;
  }

  .heading_2 {
    font-size: 1.4rem;
  }

  .nutrition__table tr td {
    font-size: 0.9rem;
  }
}
